.loader {
  --hue: 210;
  --size: 100px;
  --border: 10px;
  --speed: 1s;
  --blur: var(--border);

  width: var(--border);
  aspect-ratio: 1;
  background: white;
  border-radius: 50%;
  position: relative;

  --y: calc((var(--size) * -0.5) + (var(--border) * 0.5));
  transform: rotate(0deg) translateY(var(--y));
  animation: spin var(--speed) infinite linear;
   
  z-index: 999;
  position: absolute;
  left: 49%;
  bottom: 50%;
}

.loader::before {
  content: "";
  position: absolute;
  inset: calc(var(--border) * -0.5);
  border-radius: 50%;
  background: white;
  filter: blur(var(--blur));
  z-index: -1;
}

 
 .loader::after {
  content: "";
  width: var(--size);
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;

  background: conic-gradient(
    #f2f2f2,
    #cfcfcf,
    #9e9e9e,
    #5f5f5f,
    transparent 65%
  );

  border-radius: 50%;
  mask: radial-gradient(
    transparent calc(((var(--size) * 0.5) - var(--border)) - 1px),
    white calc((var(--size) * 0.5) - var(--border))
  );

  /* Safari support */
  -webkit-mask: radial-gradient(
    transparent calc(((var(--size) * 0.5) - var(--border)) - 1px),
    white calc((var(--size) * 0.5) - var(--border))
  );
  
}

@keyframes spin {
  to {
    transform: rotate(-360deg) translateY(var(--y));
  }
}
