 /* RoomChannel.css */

.room-channel {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #1e1e1e;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.titleroom {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.inforamtion_room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.users_information {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 70%;
  flex-direction: column;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  background-color: #2c2c2c;
  padding: 5px 10px;
  border-radius: 10px;
  gap: 20px;
  transition: transform 0.2s;
  position: relative;
  
}
.user span{
    position: absolute;
    right: 0;
}

.user span:active {
  transform: scale(1.5);
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #4caf50;
}

.user h2 {
  font-size: 1rem;
  margin: 0;
  color: #fff;
}

.wavesUsers {
 
  width: 25%;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
}

/* Responsive */
@media (max-width: 500px) {
  .inforamtion_room {
    flex-direction: column;
    align-items: flex-start;
  }

  .users_information {
    width: 100%;
    justify-content: flex-start;
  }

  .wavesUsers {
    width: 100%;
    margin-top: 10px;
  }
}
